# Android / Gradle
*.iml
.gradle
/.idea
.kotlin
build/
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystores / signing
*.jks
*.keystore
keystore.properties

# OS
.DS_Store
Thumbs.db
